fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
SQLAlchemy
pytest
httpx
chromadb
sentence-transformers
pdfplumber
openai
slack-sdk
toon-python
toon_format
tiktoken
python-jose[cryptography]
bcrypt
python-multipart
