fastapi==0.135.1
starlette==0.52.1
uvicorn==0.41.0

pydantic==2.12.5
pydantic-settings==2.13.1

SQLAlchemy==2.0.48
alembic==1.18.4
asyncpg==0.31.0

python-dotenv==1.2.2
python-multipart==0.0.22
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.1.2

requests==2.32.5
httpx==0.28.1

redis==7.2.1

# OpenTelemetry (stable compatible versions)

opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-proto==1.25.0

protobuf==3.20.2
googleapis-common-protos==1.59.0
